body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #121212;
}

a, button {
    cursor: pointer;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: white;
}

.notification {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ee9b00;
    color: white;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
}

.notification-content {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    line-height: 1.5;
}

.notification i {
    font-size: 35px;
}

.notification h3 {
    margin: 0;
    font-size: 0.75em;
}

.notification p {
    margin: 0;
    font-size: 0.625em;
}

.notification a {
    border-bottom: 1px solid white;
}

.notification.show {
    display: block;
}

/* header */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
    background-image: url(movie.jpeg);
    background-size: cover;
}

#header h1 {
    font-size: 1.8rem;
}

#header p {
    font-size: 0.875em;
    font-weight: bold;
}

/* search container */

#search-container {
    display: flex;
    justify-content: space-between;
    background-color: #2E2E2F;
    align-items: center;
    border-radius: 6px;
    width: 400px;
    margin: auto;
}

#search-container i {
    color: #9CA3AF;
    font-size: 1em;
    padding: 10px;
} 

#search-container input {
    border: none;
    background-color: #2E2E2F;
    margin-right: auto;
    width: 90%;
    color: white;
    font-family: inherit;
}

#search-container button {
    border: none;
    background-color: #4b4b4b;
    padding: 10px 40px;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: white;
}

/* msg (in movielist container and watchlist container) */

.msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#film-icon {
    font-size: 4.375em;
    color: #2e2e2f;
}

.msg h2 {
    color: #2e2e2f;
    margin: 0;
    font-size: 1.125em;
    margin-top: 20px
}

#watchlist-add-button {
    display: flex;
    gap: 5px;
    color: white;
    background-color: #121212;
    margin-top: 20px;
    align-items: center;
    padding: 0;
    
}

#watchlist-add-button p {
    margin: 0;
}

/* movielist in movielist container & watchlist container */

#movielist-container,
#watchlist-container {
    padding: 0 20px;
}

#movie-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 460px;
    gap: 20px;
    margin: 20px auto;
    color: white;
}

.movie-poster {
    width: 99px;
    height: 147.41px;
}

#movie-info-one {
    display: flex;
    align-items: center;
    gap: 10px;
}

.movie-title {
    margin: 10px 0;
    font-size: 1.125em;
    max-width: 290px;
    font-weight: 500;
}

.star-icon {
    color: #FEC654;
}

#movie-info-two {
    display: flex;
    justify-content: space-between;
}

#movie-list p {
    font-size: 0.65em;
    margin: 7px 0;
}

.movie-plot {
    font-size: 0.875em;
    color: #a5a5a5;
    max-width: 400px;
}

button {
    display: flex;
    align-items: center;
    background-color: #121212;
    border: none;
    color: white;
    gap: 5px;
}

hr{
    max-width: 460px;
}

#movielist-container hr:last-child,
#watchlist-container hr:last-child {
    display: none;
}

@media(min-width: 768px) {

    #header {
        justify-content: start;
        gap: 30px;
    }

    #header h1 {
        font-size: 2.5rem;
    }
    
    #header p {
        font-size: 1.2em;
        font-weight: bold;
    }

    #movie-list {
        max-width: 500px;
    }

    hr {
        max-width: 500px;
    }

}

@media(min-width: 992px) {

    #movielist-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    #movielist-container .msg {
        position: absolute;
        width: 100%;
    }

    #movielist-container hr {
        display: none;
    }

    .movie-poster {
        width: 150px;
        height: 100%;
    }
    
    .movie-title {
        margin: 10px 0;
        font-size: 1.3em;
        max-width: 290px;
        font-weight: 500;
    }
    
    #movie-list p {
        font-size: 0.65em;
        margin: 7px 0;
    }
    
    .movie-plot {
        font-size: 0.875em;
        color: #a5a5a5;
        max-width: 400px;
    }
    
    button {
        display: flex;
        align-items: center;
        background-color: #121212;
        border: none;
        color: white;
        gap: 5px;
    }
}

@media(min-width: 1500px) {
    #movielist-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .movie-list {
        width: 100%;
    }
}

