body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #121212;
}

a, button {
    cursor: pointer;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: white;
}

/* header */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
    background-image: url(movie.jpeg);
    background-size: cover;
}

#header h1 {
    font-size: 2.6em;
}

#header p {
    font-size: 0.875em;
    font-weight: bold;
}

/* search container */

#search-container {
    display: flex;
    justify-content: space-between;
    background-color: #2E2E2F;
    align-items: center;
    border-radius: 6px;
    width: 400px;
    margin: auto;
}

#search-container i {
    color: #9CA3AF;
    font-size: 1em;
    padding: 10px;
} 

#search-container input {
    border: none;
    background-color: #2E2E2F;
    margin-right: auto;
    width: 90%;
    color: white;
}

#search-container button {
    border: none;
    background-color: #4b4b4b;
    padding: 10px 40px;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: white;
}

/* movielist-container */

.msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#film-icon {
    font-size: 4.375em;
    color: #2e2e2f;
}

.msg h2 {
    color: #2e2e2f;
    margin: 0;
    font-size: 1.125em;
    margin-top: 20px
}

#watchlist-add-button {
    display: flex;
    gap: 5px;
    color: white;
    background-color: #121212;
    border: none;
    margin-top: 20px;
    align-items: center;
    padding: 0;
    
}

#watchlist-add-button p {
    margin: 0;
}